<%= form_for :drink, url: drinks_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :d_ingredients %><br>
  <%= f.text_area :d_ingredients %>
</p>

<p>
  <%= f.label :d_instructions %><br>
  <%= f.text_area :d_instructions %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
