<!--
@title index.html.erb
@author The Stake Drivers
@description   --Drinks HTML page.
-->

<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Drinks</title> <!-- Title of page -->
	<link rel="stylesheet" href="../../assets/stylesheets/application.css" /> <!-- Import style sheet -->
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet"><!-- HANDWRITTEN FONT -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"><!-- MAIN FONT -->
</head>

<body class="drinks-body">
    <header>
        <h1 class = "site-title">EZ EATS</h1> <!-- Main content of page -->
        <ul class = "nav"> <!-- CLASS for horizontal nav bar on top of page -->
            <li><%= link_to 'HOME' , controller: 'home' %></li>
            <li><%= link_to 'FOOD' , controller: 'foods' %></li>
            <li><%= link_to 'DRINKS' , controller: 'drinks' %></li>
            <li><%= link_to 'CREATE' , new_food_path %></li>
        </ul>
    </header>
    <main>
        <div class="boxed"><h2>&diams; FIND DRINK RECIPES &diams;<h2></div>
        <form class= "formdrink"> <!-- CLASS for drink form -->
            <div class= "formleft"> <!-- CLASS for left half of form -->
                <p>Enter drink ingredients here:</p>
                
                <textarea name="ingredients" rows="3" cols="50" placeholder = "Search for your possible recipes by entering ingredients, separated by commas. (Example: whiskey, cola, rum)" ></textarea></textarea><br>

            </div>
            <div class= "formright"> <!-- CLASS for right half of form -->
                <input type="checkbox" name="drinktype" value="Shots">Shots<br>
                <input type="checkbox" name="drinktype" value="Shots">Cocktails<br>
                <input type="checkbox" name="drinktype" value="Shots">Liqueurs<br>
            </div>
            <button class="submit" type="submit">SEARCH</button><!-- SUBMIT button -->
        </form>
    </main>
    <footer> <!-- Footer containing copyright symbol and 'Contact Us' link. -->
        <p>&copy; The Stake Drivers - <%= link_to 'Contact Us' , controller: 'contact' %> - EZ Eats &trade;</p>
    </footer>
</body>
