<h1>EZ Eats</h1>
<ul> <!-- Navigation bar -->
	<li><%= link_to 'Foods' , controller: 'foods' %></li>
	<li><%= link_to 'Drinks ' , controller: 'drinks' %></li><!-- Just a placeholder, maybe a place to collect feedback from viewers -->
	<li><%= link_to 'Home ' , controller: 'home' %></li>
	<li><%= link_to 'Search ' , controller: 'search' %></li>
	<li><%= link_to 'Create' , controller: 'create' %></li>
	<li><%= link_to 'Contact Us' , controller: 'contact' %></li>
	</ul>
