<!--
@title index.html.erb
@author The Stake Drivers
@description   --Home HTML page.
-->

<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Home</title> <!-- Title of page -->
	<link rel="stylesheet" href="../../assets/stylesheets/application.css" /> <!-- Import style sheet -->
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet"><!-- HANDWRITTEN FONT -->
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet"><!-- Main font. -->
</head>

<body class = "home-body">
    <header>
        <h1 class = "site-title">EZ EATS</h1> <!-- Main content of page -->
        <ul class = "nav"> <!-- CLASS for horizontal nav bar on top of page -->
            <li><%= link_to 'HOME' , controller: 'home' %></li>
            <li><%= link_to 'FOOD' , controller: 'foods' %></li>
            <li><%= link_to 'DRINKS' , controller: 'drinks' %></li>
            <li><%= link_to 'CREATE' , new_food_path %></li>
        </ul>
    </header>
    <main>
        <div class="boxedblue"><h2>&diams; FEATURED ITEMS &diams;</h2></div><!-- Content will go here -->
				<table style="width:92%"><!-- Table for food results and stats. -->
                    <tr><!-- BEGIN table heading -->
                        <th>PHOTO</th>
                        <th>FOODS</th>
                        <th>INGREDIENTS</th>
                    </tr><!-- END table heading -->
                    <tr><!-- BEGIN table 1st row -->
                        <td><img src="https://www.goodfreephotos.com/albums/vector-images/piece-of-cheese.png" alt="Cheese" height="60px" width="50px"></td>
                        <td><% @foods.each do |f| %>
					        <%= f.name %><% end %></td>
                        <td><% @foods.each do |f| %>
					        <%= f.ingredients %><% end %></td>
					</tr><!-- END table 1st row -->
					<tr><!-- BEGIN table 2nd row -->
					    <td><img src="https://www.goodfreephotos.com/albums/vector-images/slice-of-apple-pie-vector-clipart.png" alt = "Cheese" height ="60px" width = "50px"></td>
					    <td><% @foods.each do |f| %>
					        <%= f.name %><% end %></td>
                        <td><% @foods.each do |f| %>
					        <%= f.ingredients %><% end %></td>
					</tr><!-- END table 2nd row -->
                </table>
    </main>

    <footer> <!-- Footer containing copyright symbol and 'Contact Us' link. -->
        <p>&copy; The Stake Drivers - <%= link_to 'Contact Us' , controller: 'contact' %> - EZ Eats &trade;</p>
    </footer>
</body>
