<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Home</title> <!-- Title of page -->
	<link rel="stylesheet" href="../../assets/stylesheets/home.scss" /> <!-- Import style sheet -->
</head>

<body>
    <h1>EZ Eats</h1>
    <%= link_to 'Foods' , controller: 'foods' %>
    <%= link_to 'Drinks ' , controller: 'drinks' %>
    <%= link_to 'Home ' , controller: 'home' %>
    <%= link_to 'Search ' , controller: 'search' %>
    <%= link_to 'Create' , controller: 'create' %>
    <%= link_to 'Contact Us' , controller: 'contact' %>
    <p>Featured Items! Etc Etc</p>
</body>

<footer>
    <p>&copy; The Stake Drivers</p>
</footer>

