<%= form_for :food, url: foods_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :ingredients %><br>
  <%= f.text_area :ingredients %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
