<!--start of experimental search -->
<%= form_tag(foods_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Foods" %>
<%= submit_tag "Search" %>
<% end %>
<!--end of experimental search -->
<!-- 
<% if Food.present? %>
 <%= render 'foods' %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

-->
