<p>
    <strong>Food Name:</strong>
    <%= @foods %>
</p>
<p>
    <strong>Ingredients:</strong>
    <%= @foods %>
</p>
<h2>Add a food item:</h2>
<%= form_for(:foods) do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :ingredient %><br>
        <%= f.text_area :ingredient %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <% end %>
<%= link_to 'Home ' , controller: 'home' %>