<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Home</title> <!-- Title of page -->
	<link rel="stylesheet" href="../../assets/stylesheets/application.css" /> <!-- Import style sheet -->
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class = "site-title">EZ EATS</h1> <!-- Main content of page -->
        <ul class = "nav"> <!-- CLASS for horizontal nav bar on top of page -->
            <li><%= link_to 'Foods' , controller: 'foods' %></li>
            <li><%= link_to 'Drinks ' , controller: 'drinks' %></li>
            <li><%= link_to 'Home ' , controller: 'home' %></li>
            <li><%= link_to 'Search ' , controller: 'search' %></li>
            <li><%= link_to 'Create' , controller: 'create' %></li>
        </ul>
    </header>
    <h1 class = "site-title">EZ EATS</h1>
    <P>Contact</P>
    <P>Customer Service #: xxxx-xxxx</P>
    <P>Email us at EZeatsVerified@gmail.com</P>
    <P>Address: 9201 University City Blvd, Charlotte NC 28223</P>
    <footer> <!-- Footer containing copyright symbol and 'Contact Us' link. -->
        <p>&copy; The Stake Drivers -- <%= link_to 'Contact Us' , controller: 'contact' %></p>
    </footer>
</body>